.vscode/c_cpp_properties.json
build/
field.png
output/
-debug_field-0.plt
gmon.out
proffolder/
out.txt
nse2d-torus
two_layer
out_potential.txt
out_relative.txt
out1.txt
debug_field-0.plt
slurm-*
san_folder/
san_DNS
san_DNS_2048
san_DNS_4096
nse-pseq_bare
initial_conditions_time_1*
check*
check_DNS/*
set_Cs/*
sgs_ke/*
SGS_KE_LES
nu2_est
nu2_est_pm
nu2_jansen_SFS
nu2_jansen_zero
nu2_low
nu2_null
sgs_ke_19_07/*
debugging*
initial_conditions_time_0*
perform_fft*
san_DNS_*
a_priori_2/*
